body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	background-color: rgb(229, 209, 188);
	overflow: hidden;
}

canvas {
	background-color: rgb(229, 209, 188);
}

#controls {
	display: flex;
	justify-content: space-around;
	height: 95px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: -100px;
	background: rgb(245, 245, 245);
	transition: transform 0.2s ease-in-out;
}

.normalPos {
	top: 0px;
}

.playerInputs {
	display: inline-block;
	padding-top: 12px;
}

h2 {
	text-align: center;
	margin: 0;
}

input[type="range"] {
	outline: 0;
	border: 0;
	border-radius: 500px;
	width: 300px;
	max-width: 100%;
	margin: 16px 0 16px;
	transition: box-shadow 0.2s ease-in-out;
	overflow: hidden;
	height: 20px;
	-webkit-appearance: none;
	background-color: #ddd;
}

input[type="range"]::-webkit-slider-runnable-track {
	height: 20px;
	-webkit-appearance: none;
	color: #444;
	transition: box-shadow 0.2s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	-webkit-appearance: none;
	height: 20px;
	cursor: ew-resize;
	background: #fff;
	box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
	border-radius: 50%;
	transition: box-shadow 0.2s ease-in-out;
	position: relative;
}
input[type="range"]:active::-webkit-slider-thumb {
	background: #fff;
	box-shadow: -330px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
}

#h4-container {
	width: 400px;
	max-width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}
#h4-container {
	width: 100%;
	position: relative;
}
#h4-container h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -80px;
	left: 10px;
	width: 20px;
	height: 20px;
	color: #fff !important;
	font-size: 12px;
	transform-origin: center -10px;
	transform: translateX(-50%);
	transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
#h4-container h4 span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #1597ff;
	border-radius: 0 50% 50% 50%;
	transform: rotate(225deg);
	z-index: -1;
}
input:not(:active) + #h4-container h4 {
	opacity: 0;
	margin-top: 20px;
	pointer-events: none;
}
